table {
    table-layout: fixed;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #999999;
}

th, td {
    padding: 0.3em 0.6em;
    border-collapse: collapse;
    border: 1px solid #999999;
}

tfoot {
    border-top: 1px solid #999999;
}

table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #999999;
}

code {
    background: whitesmoke;
    color: crimson;
}